SECRET_KEY=django-insecure-your-secret-key-here
DEBUG=False
FOLLOWFLOW_USE_SQLITE=0
FOLLOWFLOW_DB_NAME=followflow_db
FOLLOWFLOW_DB_USER=db_user
FOLLOWFLOW_DB_PASSWORD=db_password
FOLLOWFLOW_DB_HOST=db_host
FOLLOWFLOW_DB_PORT=3306
